body{
    background-color: #f8f8f8;
    box-sizing: border-box;
}

/* satrt navbar */
.navbar-nav li
{
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transition: all 1s ease;
    cursor: pointer;
}
.navbar-brand:hover{
color: #fff;
cursor: pointer;
}
nav a
{
    color: #fff;
    text-decoration: none;
}

.navbar-nav .active ,.navbar-nav li a:hover{
    cursor: pointer;
    color: #fff;
}



/* end nav */
/* start the header */
#home{
    background-image:url('../img/intro-bg.jpg')  ;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    color: #fff;
    
}
/* .home{
    position: relative;
} */
.home-body{
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   letter-spacing: 10px;
  
}
.home-body h1{
    font-weight:bold ;
    font-size: 50px;
}
@media(max-width:767px)
{
#home .home-body h1 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    /* transform: translate(-50% , -50%); */
    
}
#home .home-body h2{
    text-align: center;
    width: 100%;
    font-size: 30px;
    letter-spacing: 2px;
    
}
#home img{
    background-position:center center ;
    background-size: cover;
    height: 100vh;
}
#home .element{
    font-size: 18px;
}

}

/* end the header */
/* start about */
/* start the about */
.about{
    margin-top: 30px;
    
}

.new{

    margin-top: 20px;
}
.new ul{
    list-style-type: none;
    line-height: 50px;
}
.new1{
    margin-top: 35px;
    margin-left: 20px;
}
.new3 ul{
    list-style-type: none;
    margin-left: 20px;
}
.txt{
    margin-top: 30px;
    line-height: 30px;
    font-size: 1.25rem;
    font-weight: 300;
}
@media(max-width:767px)
{
    #about .new
     {
        margin-left: -15px;
    }
    #about .new3{
        margin-left: -25px;
        
    }
}
/* end about */
/* start the services */
.services{
    margin-top: 30px;
}
.titl{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}

.sty{
    text-align: center;
    background-color: #fff;
    line-height: 30px;
    margin-top: 30px;
    padding-top: 30px;
    border-radius:10% ;
    padding-left: 10px;
    
}
.sty i{
  font-size: 30px;
    margin: 20px;
border: 7px solid #0078ff;
border-radius: 50%;
padding: 20px;
}
.sty h1,p{
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: 300;
    
}
.sty h1{
font-weight: bold;
transition:  .5s;
cursor: pointer;

}
.sty p{
    padding-bottom: 10px;
}
.sty i:hover {
    cursor: pointer;
    background-color: #0078ff;
    color: #fff;
}
.sty h1:hover{
    color: #0078ff;
}
/* end services section */
/* start Counter */
#counter{
    background-image: url('../img/counters-bg.jpg');
    position: relative;
    background-attachment: fixed;
    background-position: center center;
}
#counter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0078ff;
    opacity: .7;
}
.start-item{
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    
}

.start-item i{
    font-size: 30px;
    margin: 20px;
border: 7px solid #fff;
border-radius: 50%;
padding: 20px;
color: #fff;
}
.start-item h3{
    padding: 10px 0px 10px 0px;
}

/* end counter */
/* start portiflio */
.port{
    background-color: #fff;
    cursor: pointer;
    margin-top: 20px;
    
}
.port-img {
    display: block;
    overflow: hidden;
}
.port-img img{
    transition: all 1s;
}
.port .port-img:hover img{
transform: scale(1.3);

}
.port h3{
padding: 20px;
font-weight:700;
font-size: 25px;
}
.port p{
    padding-left: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.port span{
    color: #0078ff;
    font-weight: 600;
}


/* end portiflio */
/* start testmonial */
.testimonial{
    height: 100vh;
background-image: url('../img/overlay-bg.jpg');
background-size:cover  ;
background-attachment: fixed;
background-position:center ;
position: relative;
}
.testimonial::before{
content: " ";
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #0078ff;
opacity: .7;
}
.testimonial .carousel{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
width: 75%;
color: #fff;


} 
.testimonial .carousel-indicators{
    position: unset;
}
.testimonial .icon img{
width: 150px;
height: 150px;
border-radius: 50%;
margin: 15px auto;
font-size: 30px;
color: #fff;
display: flex;
align-items: center;
justify-content: center;

}
.testimonial .carousel-item{
    padding:40px 0px 40px 0px ;
}
.testimonial i{
    width: 70px;
height: 70px;
border-radius: 50%;
margin: 15px auto;
font-size: 30px;
color: #fff;
border: 1px solid #fff;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;

}
.testimonial p{

    font-size: 18px;
    padding-top: 15px;
    
}
.testimonial span{
font-size: 25px;
font-weight: bold;
}
.testimonial .carousel-indicators{
    margin-top: -10px;
}

/* end testmonial */

/* start the blog */

.ico-img img{
width: 100%;
text-align: center;

}
.ico{
margin-top: 30px;

    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125)
}
.ico-text h4,p{
    text-align: center;
    margin-top: 20px;
    transition: all .4s;
/* margin-bottom: 20px; */
}
.ico-text p{
    font-size: 20px;
}
.ico-text h4:hover{
color: blue;
cursor: pointer;

}
.ico-spa{
    padding: .75rem 1.25rem;
    background-color: #f8f8f8;
    border-top: 1px  rgba(0,0,0,.125);

}
.ico-spa span img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 4px;
}
.ico-spa p{
    margin-top: -35px;
}
.ico-spa p:hover{
    color: blue;
    cursor: pointer;
}

.ico-text{
    position: relative;
}
.ico-text .card{
    display: inline-block;
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
    position: absolute;
    top: -40;
    left: 130;
}
/* end blog */
/* start contact */
#contact{
    
    background-image:url('../img/overlay-bg.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position:center center ;
}
.footer::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0078ff;
    opacity: .7;
}

.form-control{

margin-top: 30px;

}
.footer-1 button{
    margin: 20px 0px 20px 0px;

    width: 220px;
    height: 70px;
    border: 1px solid #f8f8f8;
    border-radius: 40px;
    font-weight: bold;
    font-size: 25px;

    margin: 30px 0px;
}

.footer-2 p{
    font-size: 1.25rem;
    font-weight: 300;
line-height: 40px;

}
.co{
    font-size: 30px;
}
.fa-ul{
    line-height: 3;
    margin-top: 2;
}

.fa-ul span{
    margin-right: 10px;
    color: blue;
    line-height: 2;
}
.socials{
    padding: 1.5rem 0;
}
.socials a{
    
        color: #1e1e1e;
        transition: all 0.5s ease-in-out;
    
}
.ico-circle{
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}
.socials ul li{
     list-style-type: none;
    display: inline-block;
}
.socials .ico-circle{
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 20px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
    padding: 3px;
}

.ico-circle:hover {
    color: #fff;
    background-color: #0078ff;
}

 .footer-footer{
   display: flex;
   justify-content: center;
   align-items: center;

color:#fff;

} 
@media(max-width:767px)
{
footer{
    display: none;
}

}
/* end contact*/
/* start footer */
footer {
    padding: 20px 0;
    background-color: #F1F1F1;
}
footer p {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
}
footer span {
    color: #F82249;
    font-weight: 600;
    cursor: pointer;
}

/* end footer */

/*loading page*/
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #F82249 transparent #F82249 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  #btnup{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    /* display: none; */
    }
